@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HTML 기본 스타일 초기화 */
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Pretendard", ui-sans-serif, system-ui;
}

/* 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 초기화 */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 이미지 기본 스타일 초기화 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 버튼 기본 스타일 초기화 */
button {
  all: unset;
  cursor: pointer;
}

/* Form 요소 초기화 */
input,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}
